#fat-amy {
	margin-top: 100px;
}

#what-is-this, #success-box, #error-box {
	display: none;
}

#bc-feature, #bc-site {
	display: none;
}

#form-edit-website {
	display: none;
}

.form-horizontal .control-label {
	padding-top: 10px;
}

#label-action {
	cursor: pointer;
	text-transform: uppercase;
}